<!doctype html>

<html ng-app='myapp' lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>GR</title>
  </head>
  <body>
    <div ng-controller='MyController'>
        <s1> BEER </s1>
    <p>
      Insert beer:
      <input ng-model="text" type="text" />
    </p>
    <p>
     {{text}}   
    </p>
    <p>
      <li> {{text.split(" ")}} </li>
      <li> This is always empty because I can't find a way to actively change this variable </li>
      <li> {{words}} </li>
      <ul ng-repeat='beer in beers'>
        <li>{{beer.name}} | {{beer.brewery}}</li>
      </ul>
    </div>

    <script src='angular.js'></script>
    <script src='script.js'></script>
  </body>
</html>